@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Light Theme */
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue: hsl(235, 19%, 35%);
  --color-gradient-start: hsl(192, 100%, 67%);
  --color-gradient-end: hsl(280, 87%, 65%);

  /* Dark Theme */
  --color-very-dark-blue: hsl(235, 21%, 11%);
  --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-dark-light-grayish-blue: hsl(234, 39%, 85%);
  --color-dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --color-dark-very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
}

html {
  font-size: 62.5%;
}

body,
input[type="text"],
button {
  font-family: "Josefin Sans", sans-serif, "Courier New", Courier, monospace;
  font-size: 1.8rem;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  height: 61.9rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.wrapper.light input[type="checkbox"],
.wrapper.light button {
  color: var(--color-dark-grayish-blue);
}

.wrapper.light {
  background-color: var(--color-very-light-gray);
  background-image: url(./images/background-light.jpg);
  color: var(--color-dark-grayish-blue);
}

.wrapper.dark {
  background-color: var(--color-very-dark-blue);
  background-image: url(./images/background-dark.jpg);
  color: var(--color-dark-dark-grayish-blue);
}

.container {
  max-width: 54rem;
  margin: 0 auto;
}

.header {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px; 
}

.centered {
  flex: 1;
  text-align: center;
}

.switch-theme-btn {
  background-color: transparent;
  border: none;
  float: right;
  justify-content: flex-end;
  margin-right: 1rem;
  cursor: pointer;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.wrapper.dark .btn {
  color: var(--color-dark-dark-grayish-blue);
}

.wrapper.dark .btn:hover {
  color: var(--color-dark-very-dark-grayish-blue-hover);
}

.form-control {
  background-color: white;
  width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 2.4rem;
  gap: 2.4rem;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}

.wrapper.dark .form-control {
  background-color: var(--color-very-dark-desaturated-blue);
}

.checkbox-border-wrap {
  padding: 0.1rem;
  background: var(--color-very-light-grayish-blue);
  border-radius: 50%;
}

.wrapper.dark .checkbox-border-wrap {
  background: var(--color-dark-very-dark-grayish-blue);
}

.checkbox-border-wrap:hover {
  background: linear-gradient(
    to bottom right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
}

.checkbox {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: inherit;
  background-color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.wrapper.dark .checkbox,
.wrapper.dark .todo-input {
  background-color: var(--color-very-dark-desaturated-blue);
}

.form-control form {
  width: 100%;
}

.form-control form label,
#submitNewTodo {
  display: none;
}

.todo-input {
  font-size: 1.8rem;
  border: none;
}

.todo-input:focus {
  outline: none;
}

.form-control form .todo-input {
  width: 100%;
}

.filter-control-for-mobile {
  display: none;
}

.todo-list-section {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 4.8rem;
}

.wrapper.dark .todo-list-section {
  background-color: var(--color-very-dark-desaturated-blue);
}

.todo-list-section .info-text {
  padding: 2.4rem;
  border-bottom: 0.1rem solid var(--color-very-light-grayish-blue);
}

.todo-list {
  list-style: none;
}

.todo-list li {
  display: flex;
  flex-direction: row;
  height: 6.4rem;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  gap: 2rem;
  border-bottom: 0.1rem solid var(--color-very-light-grayish-blue);
}

.todo-list li button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

.todo-list li button:hover {
  text-decoration: underline;
  color: #555;
}

.editTextInput {
  font-family: "Josefin Sans", sans-serif, "Courier New", Courier, monospace;
  font-size: 1.8rem;
  font-weight: 400;
  height: 4rem;
  border-color: black;
  border-radius: 5px;
  background-color: transparent;
}

.todo-list li button.edit-button, .todo-list li button.save-button {
  background-color: transparent;
  color: #007bff;
}

.todo-list li button.save-button, .todo-list li button.cancel-button {
  padding-left: 2.4rem;
}

.todo-list li button.edit-button:hover, .todo-list li button.save-button:hover {
  color: #0056b3;
}

.todo-list li button.delete-button, .todo-list li button.cancel-button {
  background-color: transparent;
  color: #e74c3c;
}

.todo-list li button.delete-button:hover, .todo-list li button.cancel-button:hover {
  color: #c73d30;
}


.todo-list li:last-child {
  border-bottom: none;
}

.wrapper.dark li {
  border-bottom-color: var(--color-dark-very-dark-grayish-blue-hover);
}

.todo-list li label,
.todo-list li input[type="checkbox"] {
  display: none;
}

.todo-list li.completed .checkbox-border-wrap {
  background: transparent;
}

.todo-list li.completed .checkbox {
  background-image: linear-gradient(
    to bottom right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
}

.todo-list li.completed p {
  color: var(--color-light-grayish-blue);
  text-decoration-line: line-through;
}

.wrapper.dark .todo-list li.completed p {
  color: var(--color-dark-very-dark-grayish-blue);
}

.todo-filter-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  border-top: 0.1rem solid var(--color-very-light-grayish-blue);
}

.wrapper.dark .todo-filter-control {
  border-top-color: var(--color-dark-very-dark-grayish-blue-hover);
}

.control-btn.group {
  display: flex;
  gap: 1rem;
}

.btn.active,
.wrapper.dark .btn.active {
  color: var(--color-gradient-start);
  font-weight: 700;
}

.light .btn.active {
  color: rgb(149, 208, 227); 
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .todo-list-section {
    margin-bottom: 2.4rem;
  }
  .todo-filter-control .filter-control-for-desktop {
    display: none;
  }
  .filter-control-for-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    padding: 2.4rem;
    margin-bottom: 4.8rem;
  }

  .wrapper.dark .filter-control-for-mobile {
    background-color: var(--color-very-dark-desaturated-blue);
  }
}
